body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.div-introduccion {
  display: flex;
  background-image: url(./imagenes/nubesPink.jpg);
  width: 100%;
  height: 350px;
  justify-content: center;
  flex-direction: column;
}
.div-introduccion .nav-bar {
  display: flex;
  align-items: center;
  padding: 10px;
}
.div-introduccion .nav-bar .nav-logo {
  text-align: left;
}
.div-introduccion .nav-bar .nav-logo .imagen-logo {
  width: 100px;
}
.div-introduccion .nav-bar .nav-opciones {
  display: block;
  margin-inline-start: auto;
  font-family: raleway;
  font-size: 20px;
}
.div-introduccion .nav-bar .nav-opciones .opciones {
  margin: 5px;
  text-decoration: none;
  color: #c60055;
}
.div-introduccion .p-introduccion {
  margin: auto;
  font-family: indie flower;
  font-size: 45px;
  color: #c60055;
}

.formulario-de-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBDFEB;
  height: 150px;
}
.formulario-de-busqueda .tittle-busquedas-populares {
  font-size: 35px;
  font-family: comfortaa;
}
.formulario-de-busqueda .box-busqueda {
  display: flex;
  justify-content: left;
  align-items: center;
}
.formulario-de-busqueda .box-busqueda #nav-icon {
  font-size: 20px;
  padding-right: 30px;
}
.formulario-de-busqueda .box-busqueda .input-busqueda {
  padding-left: 15px;
  font-family: comfortaa;
  background-color: white;
  width: 70vw;
  height: 7vh;
  background-color: white;
  border: 2px black solid;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.formulario-de-busqueda .boton-buscar {
  background-color: #F8B8D3;
  margin: 0px 0px 0px -1px;
  width: 10%;
  height: 33%;
  border: 2px black solid;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-family: comfortaa;
}

.section-busquedas-populares {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 280px;
  background-image: url(./imagenes/giftGamer.gif);
}
.section-busquedas-populares .tittle-busquedas-populares {
  font-family: raleway;
  font-size: 30px;
}
.section-busquedas-populares .box-opciones-populares {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 180px;
}
.section-busquedas-populares .box-opciones-populares .populares {
  padding: 30px 60px 30px 60px;
}
.section-busquedas-populares .box-opciones-populares .populares .link-busqueda {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: #c5dbea;
  font-family: comfortaa;
  font-size: 20px;
}
.section-busquedas-populares .card-populares {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section-busquedas-populares .card-populares .img-gift {
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 7px;
  background-color: plum;
}

.container-gif {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #FBDFEB;
  padding: 20px;
}
.container-gif .gift-card {
  margin: 10px;
  padding: 10px;
  align-items: center;
  border: 2px solid black;
  border-radius: 7px;
  background-color: plum;
}
.container-gif .gift-card .img-gift {
  width: 300px;
  height: 200px;
}

.gif-contador {
  display: flex;
  justify-content: right;
  padding-right: 25px;
  font-family: raleway;
  font-size: 20px;
  background-color: #FBDFEB;
}

.footer-presentacion {
  display: flex;
  background-image: url(./imagenes/nubesPink.jpg);
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.footer-presentacion .p-footer {
  display: flex;
  font-family: comfortaa;
  font-size: 20px;
}

@media (max-width: 810px) {
  .div-introduccion .nav-bar .nav-logo {
    margin: 0px;
  }
  .div-introduccion .nav-bar .nav-logo .imagen-logo {
    width: 70px;
  }
  .div-introduccion .p-introduccion {
    font-size: 25px;
    padding: 10px;
    display: flex;
    text-align: center;
  }

  .formulario-de-busqueda .box-busqueda #nav-icon {
    padding-right: 5px;
  }
  .formulario-de-busqueda .box-busqueda .input-busqueda {
    width: 60vw;
    height: 6vh;
    font-size: 11px;
    outline: none;
  }
  .formulario-de-busqueda .boton-buscar {
    width: 18%;
  }
}
.section-busquedas-populares .box-opciones-populares {
  flex-wrap: wrap;
  align-items: center;
}
.section-busquedas-populares .box-opciones-populares .populares {
  padding: 5px;
}

.container-gif {
  padding: 0px;
}
.container-gif .gif-contador {
  font-size: 16px;
}

.footer-presentacion .p-footer {
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
