$tipografia-general: raleway;
$tipografia-card: comfortaa;
$tipografia-introduccion: indie flower;
$color-nav: #c60055;
$color-input: white;
$color-fondo-neutral: #FBDFEB;
$imagen-intro: url(./imagenes/nubesPink.jpg);
$imagen-busquedas-populares: url(./imagenes/giftGamer.gif);
$color-card: plum; 
$color-borde: black;

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.div-introduccion {
    display: flex;
    background-image:$imagen-intro;
    width: 100%;
    height: 350px;
    justify-content: center;
    flex-direction: column;

    .nav-bar {
        display: flex;
        align-items: center;
        padding: 10px;
        .nav-logo {
            text-align: left;        
            .imagen-logo{
                width: 100px;
            }
        }
        .nav-opciones{
            display:block;
            margin-inline-start: auto;
            font-family: $tipografia-general;
            font-size: 20px;
            .opciones{
                margin: 5px;
                text-decoration: none;
                color: $color-nav;
            }
        }
    }

    .p-introduccion{
        margin: auto;
        font-family:$tipografia-introduccion;
        font-size: 45px;
        color: $color-nav;
    }
}

.formulario-de-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-fondo-neutral;
    height: 150px;
        .tittle-busquedas-populares{
            font-size: 35px;
            font-family: $tipografia-card;
        }
    .box-busqueda{
        display: flex;
        justify-content: left;
        align-items: center;
            
        #nav-icon{
            font-size: 20px;
            padding-right: 30px;
        }
        .input-busqueda{
            padding-left: 15px;
            font-family: $tipografia-card;
            background-color: $color-input;
            width: 70vw;
            height: 7vh;
            background-color: $color-input ;
            border: 2px $color-borde solid;
            border-top-left-radius: 50px;    
            border-bottom-left-radius: 50px;
            
        }
    }    
    
    .boton-buscar{
        background-color: #F8B8D3;
        margin: 0px 0px 0px -1px;
        width: 10%;
        height: 33%;
        border: 2px $color-borde solid;
        border-top-right-radius: 50px;    
        border-bottom-right-radius: 50px;
        font-family: $tipografia-card;

    }

}


.section-busquedas-populares{
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 280px;
    background-image: $imagen-busquedas-populares;
    .tittle-busquedas-populares{
        font-family: $tipografia-general;
        font-size: 30px;
    }
    .box-opciones-populares{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 180px;
        .populares{
        padding: 30px 60px 30px 60px;
            .link-busqueda{    
            text-decoration: none;
            border: none;
            border-radius: 5px;
            background-color: #c5dbea;
            font-family: $tipografia-card;
            font-size: 20px;
            }
        }
    }
    .card-populares{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .img-gift{
            width: 300px;
            height: 200px;
            margin: 10px;
            padding: 10px;
            border: 2px solid $color-borde;
            border-radius: 7px;
            background-color: $color-card ;
            
        }

}

}

.container-gif {
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: $color-fondo-neutral;
    padding: 20px;

    .gift-card {
        margin: 10px;
        padding: 10px;
        align-items: center;
        border: 2px solid $color-borde;
        border-radius: 7px;
        background-color: $color-card;
        .img-gift{
            width: 300px;
            height: 200px;
        }
    }   
}

.gif-contador{
    display: flex;
    justify-content: right;
    padding-right: 25px;
    font-family: $tipografia-general;
    font-size: 20px;
    background-color: $color-fondo-neutral;
}


    .footer-presentacion{
        display: flex;
        background-image:$imagen-intro;
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;
        .p-footer{
            display: flex;
            font-family: $tipografia-card;
            font-size: 20px;
        }
    }


//Responsive

@media (max-width: 810px){

    .div-introduccion{
        .nav-bar{
            .nav-logo{
                margin: 0px;
                .imagen-logo{
                        width: 70px;
                    }
                }     
            }
            .p-introduccion{
                font-size: 25px;
                padding: 10px;
                display: flex;
                text-align: center;
            }    
        }

    .formulario-de-busqueda{
        .box-busqueda{
            #nav-icon{
                padding-right: 5px;
            }
            .input-busqueda{
                width: 60vw;
                height: 6vh;
            }
        }
    .boton-buscar{   
        width: 18%;
    }   
}
}

.section-busquedas-populares{
    .box-opciones-populares{
        flex-wrap: wrap;
        align-items: center;
        .populares{
            padding: 5px;
        }
    }
}

.container-gif {
    padding: 0px;
    .gif-contador{
        font-size: 16px;    
        }
}

.footer-presentacion{
    .p-footer{
        font-size: 12px;
    }

}