$tipografia-general: raleway;
$tipografia-card: comfortaa;
$tipografia-introduccion: indie flower;
$color-nav: #c60055;
$color-input: white;
$color-fondo-neutral: #FBDFEB;
$imagen-intro: url(./imagenes/nubesPink.jpg);
$imagen-busquedas-populares: url(./imagenes/giftGamer.gif);

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.div-introduccion {
    display: flex;
    background-image:$imagen-intro;
    width: 100%;
    height: 350px;
    justify-content: center;
    flex-direction: column;

    .nav-bar {
        display: flex;
        align-items: center;
        padding: 10px;
        .nav-logo {
            text-align: left;        
            .imagen-logo{
                width: 100px;
            }
        }
        .nav-opciones{
            display:block;
            margin-inline-start: auto;
            font-family: $tipografia-general;
            font-size: 20px;
            .opciones{
                margin: 5px;
                text-decoration: none;
                color: $color-nav;
            }
        }
    }

    .p-introduccion{
        margin: auto;
        font-family:$tipografia-introduccion;
        font-size: 45px;
        color: $color-nav;
    }
}

.formulario-de-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-fondo-neutral;
    height: 150px;
        .tittle-busquedas-populares{
            font-size: 35px;
            font-family: $tipografia-card;
        }
    .box-busqueda{
        display: flex;
        justify-content: left;
        align-items: center;
            
        #nav-icon{
            font-size: 20px;
            padding-right: 30px;
        }
        .input-busqueda{
            padding-left: 15px;
            font-family: $tipografia-card;
            background-color: $color-input;
            width: 70vw;
            height: 7vh;
            background-color: $color-input ;
            border: 2px black solid;
            border-top-left-radius: 50px;    
            border-bottom-left-radius: 50px;
            
        }
    }    
    
    .boton-buscar{
        background-color: #F8B8D3;
        margin: 0px 0px 0px -1px;
        width: 10%;
        height: 33%;
        border: 2px black solid;
        border-top-right-radius: 50px;    
        border-bottom-right-radius: 50px;
        font-family: $tipografia-card;

    }

}


.section-busquedas-populares{
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 280px;
    background-image: $imagen-busquedas-populares;
    .tittle-busquedas-populares{
        font-family: $tipografia-general;
        font-size: 30px;
    }
    .box-opciones-populares{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 180px;
        .populares{
        padding: 30px 60px 30px 60px;
            .link-busqueda{    
            text-decoration: none;
            font-family: $tipografia-card;
            font-size: 20px;
            }
        }
    }
    .card-populares{
        margin: 10px;
        padding: 10px;
        align-items: center;
        border: 2px solid black;
        border-radius: 7px;
        background-color: plum;
        .img-gift{
            width: 300px;
            height: 200px;
        }
    }
}


.container-gif {
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: $color-fondo-neutral;
    padding: 40px;
}

    .gift-card {
        margin: 10px;
        padding: 10px;
        align-items: center;
        border: 2px solid black;
        border-radius: 7px;
        background-color: plum;
        .img-gift{
            width: 300px;
            height: 200px;
        }
    }   

