body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

$tipografia-card: comfortaa;

.formulario-de-busqueda {
    background-color: purple;
}
.container-gift {
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: pink;
}

.gift-card {
    margin: 10px;
    padding: 10px;
    align-items: center;
    border: 2px solid black;
    border-radius: 7px;
    background-color: plum;
    .titulo-card{
        font-size: 15px;
        font-family: $tipografia-card;
    }
    .img-gift{
        width: 300px;
        height: 200px;
    }
}